#main-container{
	font-size: 1.25rem;
	text-align: center;
}
#main-container .error-popup{
	background-color: gold;
	left: 0;
	opacity: 0;
	padding: .5rem;
	position: absolute;
	right: 0;
	top: 0;
	transition: opacity 0.5s ease-in;
	visibility: hidden;
}
#main-container .error-popup.show{
	opacity: 1;
	visibility: visible;
}
#main-container h1{
	font-size: 2rem;
}
form{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.form-container div{
	align-items: center;
	display: flex;
	justify-content: flex-end;
	margin: 5px;
	min-width: 320px;
	position: relative;
}
.form-container span{
	color: red;
	font-size: 1rem;
	position: absolute;
	top: 100%;
}
.form-container input{
	font-size: inherit;
	height: 2rem;
	margin-left: 5px;
}
button{
	cursor: pointer;
}
.main-button{
	font-size:1.5rem;
	height:50px;
	margin: 20px;
	margin-bottom: none;
	width:200px;
}
.form-container .search-filters{
	min-width: auto;
}
select{
	font-size: 1rem;
	margin-left: 5px;
}
table{
	background-color: cadetblue;
	border: 1px solid #aaa;
	color: #eee;
	font-size: 1.5rem;
	margin: auto;
	width: 80%;
}
tr:first-child{
	background-color: cornflowerblue;
	color: darkblue;
}
tr:first-child button{
	background-color: tomato;
	border-color: tomato;
}
th, td{
	border: 1px solid black;
	height: 2rem;
	min-width: 150px;
	padding: 0;
}
th:last-child, td:last-child{
	min-width: 2rem;
	width: 2rem;
}
table button{
	background-color: dodgerblue;
	border-color: dodgerblue;
	color: black;
	display: block;
	height:100%;
	width: 100%;
}
