<div id = 'main-container'>
	<span class = 'error-popup' [ngClass] = 'campoErrore == ""? "" : "show"'>Il campo {{campoErrore}} non può essere vuoto</span>
	<h1>Aggiungi contatto rubrica</h1>
	<div class = 'form-container'>
		<form action = ''>
			<div>
				<label for = 'nome'>Nome:</label>
				<input name = 'nome' type = 'text' placeholder = 'nome' [(ngModel)] = 'contatto.nome' [pattern] = 'nomePattern' #n = 'ngModel'/>
				<span *ngIf = 'n.errors?.pattern'>Nome non valido.</span>
			</div>
			<div>
				<label for = 'cognome'>Cognome:</label>
				<input name = 'cognome' type = 'text' placeholder = 'cognome' [(ngModel)] = 'contatto.cognome' [pattern] = 'cognomePattern' #c = 'ngModel'/>
				<span *ngIf = 'c.errors?.pattern'>Cognome non valido.</span>
			</div>
			<div>
				<label for = 'telefono'>Telefono:</label>
				<input (input) = 'onStringChange(telefono)' name = 'telefono' type = 'tel' maxlength = '12' placeholder = '012-345-6789' [(ngModel)] = 'telefono' [pattern] = 'telefonoPattern' #t = 'ngModel'/>
				<span *ngIf = 't.errors?.pattern'>Numero di telefono non valido.</span>
			</div>
		</form>
		<button class = 'main-button' (click) = 'aggiungi()'>Aggiungi</button>
		<button class = 'main-button' (click) = 'conta()'>Conta</button>
	</div>
	<div class = 'form-container'>
		<form action = ''>
			<div>
				<label for = 'ricerca'>Cerca:</label>
				<input name = 'ricerca' type = 'text' placeholder = 'cerca contatti' [(ngModel)] = 'searchword'/>
			</div>
			<div class = 'search-filters'>
				<label for='search-filter'>Cerca per:</label>
				<select name = 'search-filter' [(ngModel)] = 'searchmode'>
					<option value = 'nome'>Nome</option>
					<option value = 'cognome'>Cognome</option>
					<option value = 'telefono'>Telefono</option>
				</select>
			</div>
		</form>
		<button class = 'main-button' (click) = 'cerca()'>Cerca contatti</button>
	</div>
	<h1>Lista contatti rubrica</h1>
	<table *ngIf = 'contatti.length'>
		<tr>
			<th>Nome</th>
			<th>Cognome</th>
			<th>Telefono</th>
			<th><button title = 'svuota rubrica' (click) = 'rimuoviTutti()'>X</button></th>
		</tr>
		<tr *ngFor = "let c of contatti">
			<td>{{c.nome}}</td>
			<td>{{c.cognome}}</td>
			<td>{{c.telefono}}</td>
			<td><button title = 'rimuovi contatto' (click)="rimuovi(c)">X</button></td>
		</tr>
	</table>
</div>
